# local .terraform directory
.terraform

#tf state files
*.tfstate
*.tfstate.*

#tf variable files, may include sensitive data
*.tfvars

#exe
*.exe

#Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore Mac/OSX system file, with the folder metadata
.DS_Store

#ignore crash logs
crash.log
